.no-round-b {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-round-t {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}